html(lang="ko")
    head
        meta(charset="utf-8")
        title 게임은 겜짜응한테 물어보라능!!
        script.
            var searchResultList = !{JSON.stringify(searchResultList)};
            
            function onClickNextSearch()
            {
                return true;
            }

            var viewReusltTable = function(resultData) {
                var resultView = new String();

                resultView += "<table id=" + resultData.ResultSiteName + ">";
                resultView += "<tr> <th>";
                resultView += "<h1>" + resultData.ResultSiteName;
                resultView += "</th> </tr>";
                if(resultData.GameSearchResultBaseDatas.length > 0)
                {
                    for(var index = 0 ; index < resultData.GameSearchResultBaseDatas.length ; ++index)
                    {
                        resultView += "<tr> <td>";
                        resultView += "<a href=" + resultData.GameSearchResultBaseDatas[index].ResultUrl + " target=\"_blank\">" 
                            +  resultData.GameSearchResultBaseDatas[index].ResultStr;
                        resultView += "</td> </tr>";
                    }

                    resultView += "<tr> <td>";
                    resultView += "<form method=\"post\" onsubmit=\"return onClickNextSearch();\">";
                    resultView += "<input type=\"submit\" title=\"NEXT\">";
                    resultView += "<form>";
                    resultView += "</td> </tr>";
                }
                else
                {
                    resultView += "<tr> <td>";
                    resultView += "검색 결과가 없다능...";
                    resultView += "</td> </tr>";
                }
                
                resultView += "<table>";

                return resultView;
            }

            window.onload = function(){
                var resultView = new String();

                for(var index = 0 ; index < searchResultList.length; ++index)
                {
                    resultView += viewReusltTable(searchResultList[index]);
                }

                document.getElementById("result_view").innerHTML = resultView;
            }
    body
        div.all_news_box
            h1(style="font-size:3em") 겜짜응!!
            div(id="result_view")
                //- - for(var index = 0 ; index < searchResultList.length; ++index){
                //-     table
                //-         tbody
                //-             tr
                //-                 h1 #{searchResultList[index].ResultSiteName}
                //-                 - if(searchResultList[index].GameSearchResultBaseDatas.length > 0){
                //-                 - for(var index_in = 0 ; index_in < searchResultList[index].GameSearchResultBaseDatas.length; ++index_in){
                //-                     tr
                //-                         td 
                //-                             a(href=searchResultList[index].GameSearchResultBaseDatas[index_in].ResultUrl target="_blank") #{searchResultList[index].GameSearchResultBaseDatas[index_in].ResultStr}
                //-                 - }
                //-                 - }
                //-                 - else{
                //-                     tr
                //-                         td
                //-                             p 검색결과가 없다능...
                //-                 - }
                //- - }
        
